.butts-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

.butts-2 a{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    /* width: 150px; */
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.butts-2 a:hover{
    transform: translateY(-10px);
    transition: all 0.3s ease 0s;
}

::-webkit-scrollbar{
    width: 0px;
}
