body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #004e66;
}

.wrap{
    padding: 40px;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px black;
}

.main-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: powderblue;
    margin-bottom: 40px;
    border-radius: 10px;
}

.timer-text{
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons a{
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 98, 128);
    padding: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: "Roboto mono", monospace;
}

.buttons a:nth-child(1){
    background-color: green;
}
.buttons a:nth-child(2){
    background-color: rgb(224, 0, 0);
}
.buttons a:nth-child(3){
    background-color: rgb(0, 0, 0);
}

.buttons a:hover{
    transform: translate(0, -5px);
    transition: all 0.3s ease 0s;
}

.flag-table{
    margin-top: 40px;
}

.flag-table tr td{
    color: wheat;
    font-size: 30px;
    font-family: "space mono", monospace;
}

@media only screen and (max-width: 767px) {
    .timer-text{
        font-size: 40px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        margin-bottom: 10px;
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .buttons a{
        margin: 10px;
        margin-left: 30px;
        margin-right: 30px;
        text-decoration: none;
        color: white;
        background-color: rgb(0, 98, 128);
        padding: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
        font-family: "Roboto mono", monospace;
        text-align: center;
    }
  }