*{
    font-family: "Hind siliguri", sans-serif;
}

.dl{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    background-color: darkgreen;
    padding: 10px;
    border-radius: 5px;
}